# Practical Questions on map()

Convert a list of strings to uppercase
words = ['python', 'is', 'awesome'] Output: ['PYTHON', 'IS', 'AWESOME']

In [1]:
words = ['python', 'is', 'awesome'] 
uppercased = list(map(str.upper ,words))

In [2]:
uppercased

['PYTHON', 'IS', 'AWESOME']

Square all numbers in a list
numbers = [1, 2, 3, 4] utput: [1, 4, 9, 16]

In [3]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda i: i**2, numbers))
print(squared)

[1, 4, 9, 16]

Convert a list of integers to strings
nums = [1, 2, 3] Output: ['1', '2', '3']

In [4]:
nums = [1, 2, 3]
str_nums = list(map(str, nums))
print(str_nums)

['1', '2', '3']

Add 5 to each element in a list marks = [50, 60, 70] Output: [55, 65, 75]

In [5]:
marks = [50, 60, 70]
new_marks = list(map(lambda i: i + 5, marks))
print(new_marks)

[55, 65, 75]

Get lengths of all strings in a list

names = ['apple', 'banana', 'kiwi'] Output: [5, 6, 4]

In [6]:
names = ['apple', 'banana', 'kiwi']
lengths = list(map(len, names))
print(lengths)

[5, 6, 4]

Filter out even numbers
nums = [1, 2, 3, 4, 5, 6] Output: [2, 4, 6]

In [8]:
nums = [1, 2, 3, 4, 5, 6]
even = list(filter(lambda x: x % 2 == 0,nums))

In [9]:
print(even)

[2, 4, 6]

Keep only strings with more than 3 characters
words = ['hi', 'hello', 'hey', 'sun'] Output: ['hello']

In [5]:
words = ['hi', 'hello', 'hey', 'sun']
y = list(filter(lambda w: len(w) > 3, words))
print(y)

['hello']

Remove empty strings from a list
data = ['Python', '', 'Java', '', 'C++'] Output: ['Python', 'Java', 'C++']

In [7]:
data = ['Python', '', 'Java', '', 'C++'] 
non_empty = list(filter(None,data))

In [9]:
print(non_empty)

['Python', 'Java', 'C++']

Get names that start with 'A' names = ['Alice', 'Bob', 'Angela', 'Tom'] Output: ['Alice', 'Angela']

In [10]:
names = ['Alice', 'Bob', 'Angela', 'Tom']
a = list(filter(lambda name: name.startswith('A'), names))
print(a)

['Alice', 'Angela']

Keep truthy values only

items = [0, None, 'hello', False, 42, ''] Output: ['hello', 42]

In [11]:
items = [0, None, 'hello', False, 42, '']
truthy = list(filter(bool , items))

In [12]:
print(truthy)

['hello', 42]

Sum of all numbers
nums = [1, 2, 3, 4] Output: 10

In [16]:
nums = [1, 2, 3, 4] 
def test(nums):
    sum  = 0
    for i in nums:
       if type(i) == int:
          sum+=i
    return sum

In [17]:
test(nums)

10

Product of all even numbers nums = [1, 2, 3, 4, 5] Filter even → [2, 4] Reduce → 8

In [19]:
from functools import reduce

In [20]:
nums = [1, 2, 3, 4, 5]
even_nums = list(filter(lambda x: x % 2 == 0, nums))
product = reduce(lambda x, y: x * y, even_nums)
print(product)

8

Find the longest word words = ['apple', 'banana', 'kiwi'] Output: 'banana'

In [21]:
words = ['apple', 'banana', 'kiwi']
longest = reduce(lambda a, b: a if len(a) > len(b) else b, words)
print(longest)

banana

Join list of strings into one sentence words = ['Python', 'is', 'fun'] Output: 'Python is fun'

In [22]:
words = ['Python', 'is', 'fun']
sentence = ' '.join(words)
print(sentence)

Python is fun

Create number from digits

digits = [1, 2, 3, 4] Output: 1234

In [23]:
digits = [1,2,3, 4]
number = reduce(lambda x, y : x* 10 +y ,digits)

In [24]:
print(number)

1234